*{
  margin: 0;
  padding: 0;
}
.hero{
  text-align: center;
  padding: 1rem ;
}

nav{
  display: flex;
  justify-content: space-between;
}
ul{
  list-style-type: none;
  display: flex;
}
li{
  padding: 1rem;
}
.App{
  max-width: 1150px;
  margin:  0 auto;
}
img{
  max-width: 30%;
  margin-right: 1.5rem;
}
.article{
  border: 1px solid black;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.authorAndDate{
  margin: 1rem;
}
.content{
  padding: 1rem 0;
}