*, *::after, *::before{
  margin: 0;
  padding: 0;
}
body{
  background-color: blanchedalmond;
}
.container{
  width: 35%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid brown;
  margin-top: 5rem;
  padding: 1rem;
  background-color: rgb(202, 220, 220);
}
ul{
  list-style: none;
}
input[type=text]{
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin: 1rem 0;
}
li{
  display: flex;
  justify-content: space-around;
  margin: 0.5rem 0;
}
span{
  cursor: pointer;
}